.chapter-logo {
  max-height: 140px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.chapter-logo:hover {
  transform: scale(1.08);
}

.nav-link-custom{
    position: relative;

    text-decoration: none;
    color: white;

    transition: 0.3s ease;

    padding: 6px 0;
}
.nav-link-custom::after{
    content: "";

    position: absolute;

    left: 50%;
    bottom: -4px;

    width: 0;
    height: 2px;

    background: #4da6ff;

    box-shadow:
        0 0 6px #4da6ff,
        0 0 12px #4da6ff;

    transform: translateX(-50%);

    transition: width .3s ease;
}

.nav-link-custom:hover{
    color: #cfe5ff;
}

.nav-link-custom:hover::after{
    width: 100%;
}
.benefit-card{
    border: 2px solid #dbeafe;
    border-radius: 20px;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;

    background: white;
}
.benefit-card:hover{
    transform: translateY(-12px);

    border-color: #0066ff;

    box-shadow:
        0 10px 20px rgba(0,102,255,.15),
        0 20px 40px rgba(0,102,255,.10);
}