.preloader{
    position:fixed;
    inset:0;

    background:#001f5c;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.preloader-logo{
    width:220px;
    margin-bottom:40px;
}

.loader-bar{
    width:250px;
    height:6px;

    background:rgba(255,255,255,.15);

    border-radius:999px;

    overflow:hidden;
}

.loader-fill{
    height:100%;

    background:white;

    animation:fillBar 1s linear forwards;
}

@keyframes fillBar{

    from{
        width:0%;
    }

    to{
        width:100%;
    }
}